@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
}

.ais-SearchBox {
  display: inline-block;
  width: 100%;
  /* max-width: 400px; */
}
.ais-SearchBox-form {
  border-bottom: 2px solid black;
  display: flex;
  width: 100%;
}
.ais-SearchBox-input {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  outline: none;
  /* max-width: 200px; */
  width: 100%;
}

.ais-SearchBox-input[type="search"]::-webkit-search-decoration,
.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button,
.ais-SearchBox-input[type="search"]::-webkit-search-results-button,
.ais-SearchBox-input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
  width: 18px;
  height: 18px;
}
/* .ais-SearchBox-submitIcon path, */
/* .ais-SearchBox-resetIcon path { */
/*   fill: red; */
/* } */
